<h1>
    <% @profile.name %>
</h1>
<p id="notice"><%= notice %></p>

<p class="text-white">
    <strong>Name:</strong>
    <%= @profile.name %>
</p>

<p class="text-white">
    <strong>Id (for testing purposes)</strong>
    <%= @profile.id %>
</p>
<!-- This is super repetitave, should find out how to
      call a varaible's name itself.
-->
<p class="text-white">
    <strong>Email: </strong>
    <%= @profile.email %>
</p>

<p class="text-white">
    <strong>Bio:</strong>
    <%= @profile.bio %>
</p>
<p class="text-white">
    <strong>Race:</strong>
    <%= @profile.race %>
</p>
<p class="text-white">
    <strong>Sex:</strong>
    <%= @profile.sex %>
</p>
<p class="text-white">
    <strong>Religion:</strong>
    <%= @profile.religion %>
</p>
<p class="text-white">
    <strong>Education:</strong>
    <%= @profile.education %>
</p>
<p class="text-white">
    <strong>Ocupation:</strong>
    <%= @profile.ocupation %>
</p>
<p class="text-white">
    <strong>Income:</strong>
    <%= @profile.income %>
</p>
<p class="text-white">
    <strong>Smoker:</strong>
    <%= @profile.smoker %>
</p>