<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :bio %>
      <%= f.email_field :bio, class: 'form-control' %>
      
      <%= f.label :race %>
      <%= f.email_field :race, class: 'form-control' %>
      
      <%= f.label :religion %>
      <%= f.email_field :religion, class: 'form-control' %>
      
      <%= f.label :education %>
      <%= f.email_field :education, class: 'form-control' %>
      
      <%= f.label :ocupation %>
      <%= f.email_field :ocupation, class: 'form-control' %>
      
      <%= f.label :income %>
      <%= f.email_field :income, class: 'form-control' %>
      
      <%= f.label :smoker %>
      <%= f.email_field :smoker, class: 'form-control' %>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= render 'form', user: @user %>
      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>
