

<h1>
 
  <%= @user.name %>
</h1>
<p id="notice"><%= notice %></p>

<p class="text-white"> 
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p class="text-white"> 
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p class="text-white"> 
  <strong>Gender:</strong>

</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
